[submodule "lib/CPP-Argument-Parser"]
	path = lib/CPP-Argument-Parser
	url = https://github.com/diridari/CPP-Argument-Parser.git
[submodule "lib/SimpleLogging"]
	path = lib/SimpleLogging
	url = https://github.com/diridari/logging-cpp.git
